<ion-header>
  <ion-toolbar>
    <ion-title>Chapter2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>You have started reading Chapter 2 of Travis' book.</p>
  <img src="/assets/pic1.jpg" alt="" width="50%">
  <p><span>Photo by <a
        href="https://unsplash.com/@adroman?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Aditya
        Romansa</a> on <a
        href="https://unsplash.com/t/business-work?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </p>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents
  </ion-button>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">On to Chapter 3
  </ion-button>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter1']">Back to Chapter 1
  </ion-button>
  <p>Page 4 of 5</p>
</ion-content>