<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>You have started reading Chapter 1 of Travis' book.</p>
  <img src="/assets/pic.jpg" alt="" width="50%">
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents
  </ion-button>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">On to Chapter 2
  </ion-button>
  <ion-button color="success" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter2']">On to Chapter 3 (no
    peeking!)
  </ion-button>
  <p>Page 3 of 5</p>
</ion-content>